.start {
    background-image: url(../icons/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: start 1s ease-out;
}

.target {
    background-image: url(../icons/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: start 1s ease-out;
}

.wall {
    background-color: #34495e;
    border-color: #34495e !important;
}

.startBeingMoved {
    background-image: url(../icons/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: startTargetBeingMoved 1s ease-out forwards;
}

.targetBeingMoved {
    background-image: url(../icons/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: startTargetBeingMoved 1s ease-out forwards;
}
.visitedNode {
    background-color: #eff235;
    animation-name: visitedNodeAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.unvisited {
    background-color: white;
}
.shortestPath {
    background-color: rgb(255, 254, 106);
    border-color: rgb(255, 254, 106);
    animation-name: shortestPathNode;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0.02s;
    animation-fill-mode: forwards;
}

td {
    width: 25px;
    height: 25px;
    border: 0.5px solid lightblue;
}

@keyframes visitedNodeAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
        border-color: rgb(255, 254, 106);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
        border-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
        border-color: rgb(255, 254, 106);
    }
}

@keyframes shortestPathNode {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
        background-image: url(../icons/start.svg);
    }
    25% {
        background-image: none;
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}

@keyframes start {
    0% {
        transform: scale(0.2, 0.2);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes startTargetBeingMoved {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(2, 2);
    }
    100% {
        transform: scale(1.5, 1.5);
    }
}
