.start {
    background-image: url(../icons/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: start 1s ease-out;
}

.target {
    background-image: url(../icons/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: start 1s ease-out;
}

.wall {
    background-color: #34495e;
    border-color: #34495e !important;
}

.startBeingMoved {
    background-image: url(../icons/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: startTargetBeingMoved 1s ease-out forwards;
}

.targetBeingMoved {
    background-image: url(../icons/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: startTargetBeingMoved 1s ease-out forwards;
}

td {
    width: 25px;
    height: 25px;
    border: 0.5px solid lightblue;
}

@keyframes start {
    0% {
        transform: scale(0.2, 0.2);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes startTargetBeingMoved {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(2, 2);
    }
    100% {
        transform: scale(1.5, 1.5);
    }
}
