.navButton {
    background-color: #34495e !important;
    border-color: #34495e !important;
    color: white !important;
    font-weight: bold !important;
}

.visualize {
    background-color: #1abc9c !important;
    border-color: #1abc9c !important;
    color: white !important;
    font-weight: bold !important;
}

.table {
    align-content: center;
    background-color: white;
}
.navs:hover {
    color: #1abc9c !important;
}
